/* Custom styles for buttons */
#btn_client,
#btn_therapist,
#btn_dyad {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
/* Custom styles for active buttons */
#btn_client.active,
#btn_therapist.active,
#btn_dyad.active {
  background-color: #0069d9;
  border: 2px solid black;
  color: #fff;
}
#btn_client_label_a_add.active,
#btn_client_label_b_add.active {
  border: 2px solid black;
}
/* Custom styles for the client, therapist and dyad forms */
.form-group {
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 5px;
}
.form-inline {
  display: none; /* Hide the forms initially */
}
#client_label_a_add,
#client_label_b_add {
  display: none; /* Hide the additional label form groups initially */
}
