{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
app_content %} {% block head%} {{ super() }}
<!-- Reference custom CSS file for button rendering -->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles.css') }}"
/>
{% endblock %}

<body>
  <div class="container" style="padding-bottom: 30px">
    <h1>
      Annotating psychotherapy session: <strong>{{ dataset_name }}</strong>
    </h1>
    <h2>Page {{ page }} of {{ total_pages }}</h2>
    <p>Time since start of session: {{ start_time.strftime("%H:%M:%S") }}</p>
    <ul class="list-group">
      {% for item in page_items %} {% if item.event_speaker == 'Therapist' %}
      <li class="list-group-item list-group-item-secondary">
        {% elif item.event_speaker == 'Client' %}
      </li>

      <li class="list-group-item list-group-item-info">
        {% elif item.event_speaker == 'Annotator' %}
      </li>

      <li class="list-group-item list-group-item-success">
        {% endif %} {{ item.event_n }}.
        <strong>{{ item.event_speaker }}:</strong> {{ item.event_plaintext }}
      </li>
      {% endfor %}
    </ul>

    <!-- Pagination -->
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
          <a href="{{ prev_url or '#' }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#' }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
        <li class="first{% if not first_url %} disabled{% endif %}">
          <a href="{{ first_url or '#' }}">
            <span aria-hidden="true">&larr;</span> First
          </a>
        </li>
        <li class="last{% if not last_url %} disabled{% endif %}">
          <a href="{{ last_url or '#' }}">
            Last <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>

    <h3>Annotate this page:</h3>

    <!-- Buttons to toggle annotation forms at the segment level -->
    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-primary mx-2"
        id="btn_client"
        data-toggle="collapse"
        data-target="#form_client"
      >
        Client
      </button>
      <button
        type="button"
        class="btn btn-primary mx-2"
        id="btn_therapist"
        data-toggle="collapse"
        data-target="#form_therapist"
      >
        Therapist
      </button>
    </div>

    <!-- Form 1 -->
    <!-- The action attribute specifies the URL where the form data should be sent when submitted -->
    <!-- Setting action="", the form is submitted to the current URL -->
    <form
      action=""
      class="form-inline"
      method="post"
      role="form"
      class="collapse"
      id="form_client"
    >
      {{ form_client.hidden_tag() }}
      <!-- Hidden CSRF token -->

      {% if annotations_client %}
      <p></p>
      <div class="alert alert-warning" role="alert">
        Annotations for the client for some or all speech turns on this page
        have already been submitted. Showing the most recent annotations,
        submitted at {{ annotations_client.timestamp.strftime("%d-%B-%Y
        %H:%M:%S") }} UTC.
      </div>
      {% endif %}

      <div class="form-group">
        {{ wtf.form_field(form_client.label_a_client) }} {{
        wtf.form_field(form_client.strength_a) }} {{
        wtf.form_field(form_client.comment_a) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form_client.label_b_client) }} {{
        wtf.form_field(form_client.strength_b) }} {{
        wtf.form_field(form_client.comment_b) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form_client.label_c) }} {{
        wtf.form_field(form_client.strength_c) }} {{
        wtf.form_field(form_client.comment_c) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form_client.label_d) }} {{
        wtf.form_field(form_client.strength_d) }} {{
        wtf.form_field(form_client.comment_d) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form_client.label_e) }} {{
        wtf.form_field(form_client.strength_e) }} {{
        wtf.form_field(form_client.comment_e) }}
      </div>
      <p></p>
      <p>
        <input type="submit" name="submit_form_client" value="Submit" />
      </p>
    </form>

    <!-- Form 2 -->
    <form
      action=""
      class="form-inline"
      method="post"
      role="form"
      class="collapse"
      id="form_therapist"
    >
      {{ form_therapist.hidden_tag() }}
      <!-- Hidden CSRF token -->

      {% if annotations_therapist %}
      <p></p>
      <div class="alert alert-warning" role="alert">
        Annotations for the therapist for some or all speech turns on this page
        have already been submitted. Showing the most recent annotations,
        submitted at {{ annotations_therapist.timestamp.strftime("%d-%B-%Y
        %H:%M:%S") }} UTC.
      </div>
      {% endif %}

      <div class="form-group">
        {{ wtf.form_field(form_therapist.label_a_therapist) }} {{
        wtf.form_field(form_therapist.strength_a) }} {{
        wtf.form_field(form_therapist.comment_a) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form_therapist.label_b_therapist) }} {{
        wtf.form_field(form_therapist.strength_b) }} {{
        wtf.form_field(form_therapist.comment_b) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form_therapist.label_c) }} {{
        wtf.form_field(form_therapist.strength_c) }} {{
        wtf.form_field(form_therapist.comment_c) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form_therapist.label_d) }} {{
        wtf.form_field(form_therapist.strength_d) }} {{
        wtf.form_field(form_therapist.comment_d) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form_therapist.label_e) }} {{
        wtf.form_field(form_therapist.strength_e) }} {{
        wtf.form_field(form_therapist.comment_e) }}
      </div>
      <p></p>
      <p>
        <input type="submit" name="submit_form_therapist" value="Submit" />
      </p>
    </form>
  </div>
</body>
{% endblock %}

<!-- Use JavaScript to handle button behavior dynamically when clicked on -->
{% block scripts %} {{ super() }}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='scripts.js') }}"
></script>
{% endblock %}
