{% extends "base.html" %} {% block app_content %}
<body>
  <div class="container">
    <h1>
      Annotating psychotherapy session: <strong>{{ dataset_name }}</strong>
    </h1>
    <h2>Page {{ page }} of {{ total_pages }}</h2>
    <p>Time since start of session: {{ start_time.strftime("%H:%M:%S") }}</p>
    <ul class="list-group">
      {% for item in page_items %} {% if item.event_speaker == 'Therapist' %}
      <li class="list-group-item list-group-item-secondary">
        {% elif item.event_speaker == 'Client' %}
      </li>

      <li class="list-group-item list-group-item-info">
        {% elif item.event_speaker == 'Annotator' %}
      </li>

      <li class="list-group-item list-group-item-success">
        {% endif %} {{ item.event_n }}.
        <strong>{{ item.event_speaker }}:</strong> {{ item.event_plaintext }}
      </li>
      {% endfor %}
    </ul>
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
          <a href="{{ prev_url or '#' }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#' }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
        <li class="first{% if not first_url %} disabled{% endif %}">
          <a href="{{ first_url or '#' }}">
            <span aria-hidden="true">&larr;</span> First
          </a>
        </li>
        <li class="last{% if not last_url %} disabled{% endif %}">
          <a href="{{ last_url or '#' }}">
            Last <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
{% endblock %}
