<!-- Client form -->
<!-- The action attribute specifies the URL where the form data should be sent when submitted -->
<!-- Setting action="", the form is submitted to the current URL -->
<form
  action=""
  class="form-inline"
  method="post"
  role="form"
  class="collapse"
  id="form_client"
>
  {{ form_client.hidden_tag() }}
  <!-- Hidden CSRF token -->

  {% if annotations_client %}
  <p></p>
  <div class="alert alert-warning" role="alert">
    Annotations for the client for some or all speech turns on this page have
    already been submitted. Showing the most recent annotations, submitted at {{
    annotations_client.timestamp.strftime("%d-%B-%Y %H:%M:%S") }} UTC.
  </div>
  {% endif %} {% for group in form_client.groups %}
  <div class="form-group">
    <h4 class="underline-text">{{ group["title"] }}</h4>
    {{ wtf.form_field(form_client.label_a) }}
  </div>
  {% endfor %}

  <!-- Submit -->
  <p>
    <input type="submit" name="submit_form_client" value="Submit" />
  </p>
</form>
