{% include "annotate/annotate_ps.html" %} {% import "bootstrap/wtf.html" as wtf
%}

<!-- Form dyad -->
<form
  action=""
  class="form-inline"
  method="post"
  role="form"
  class="collapse"
  id="form_dyad"
>
  {{ form.hidden_tag() }}
  <!-- Hidden CSRF token -->

  {% if annotations_dyad %}
  <p></p>
  <div class="alert alert-warning" role="alert">
    Annotations for the dyad for some or all speech turns on this page have
    already been submitted. Showing the most recent annotations, submitted at {{
    annotations_dyad.timestamp.strftime("%d-%B-%Y %H:%M:%S") }} UTC.
  </div>
  {% endif %}

  <div class="form-group">
    {{ wtf.form_field(form.label_a) }} {{ wtf.form_field(form.strength_a) }} {{
    wtf.form_field(form.relevant_events_a) }} {{ wtf.form_field(form.comment_a)
    }}
  </div>
  <p></p>
  <div class="form-group">
    {{ wtf.form_field(form.label_b) }} {{ wtf.form_field(form.strength_b) }} {{
    wtf.form_field(form.relevant_events_b) }} {{ wtf.form_field(form.comment_b)
    }}
  </div>
  <p></p>
  <div style="text-align: center">
    {{ wtf.form_field(form.comment_summary) }}
  </div>
  <p></p>
  <p>
    <input type="submit" name="submit_form_dyad" value="Submit" />
  </p>
</form>
