<!-- Therapist form -->
<form
  action=""
  class="form-inline"
  method="post"
  role="form"
  class="collapse"
  id="form_therapist"
  onsubmit="return validateForm('therapist')"
>
  {{ form_therapist.hidden_tag() }}
  <!-- Hidden CSRF token -->

  {% if annotations_therapist %}
  <p></p>
  <div class="alert alert-warning" role="alert">
    Annotations for the therapist for some or all speech turns on this page have
    already been submitted. Showing the most recent annotations, submitted at {{
    annotations_therapist.timestamp.strftime("%d-%B-%Y %H:%M:%S") }} UTC.
  </div>
  {% endif %}

  <!-- Label A -->
  <div class="form-group">
    <h4 class="underline-text">{{ form_therapist.title_a }}</h4>
    {{ wtf.form_field(form_therapist.label_a, class_="form-control
    dynamic_select", data_target="sub_label_a_1_therapist") }} {{
    wtf.form_field(form_therapist.sublabel_1_a) }} {{
    wtf.form_field(form_therapist.scale_1_a) }} {{
    wtf.form_field(form_therapist.scale_2_a) }} {{
    wtf.form_field(form_therapist.evidence_a) }} {{
    wtf.form_field(form_therapist.comment_a, class_="form-control
    comment_field", data_target="label_a_therapist") }}
  </div>
  <p></p>
  <!-- Button to toggle an additional form group for label A -->
  <button
    type="button"
    class="btn btn-secondary mx-2"
    id="btn_therapist_label_a_add"
    data-target="#therapist_label_a_add"
  >
    Add another
  </button>
  <div class="form-group collapse" id="therapist_label_a_add">
    {{ wtf.form_field(form_therapist.label_add_a, class_="form-control
    dynamic_select", data_target="sub_label_a_1_therapist_add") }} {{
    wtf.form_field(form_therapist.sublabel_1_add_a) }} {{
    wtf.form_field(form_therapist.scale_1_add_a) }} {{
    wtf.form_field(form_therapist.scale_2_add_a) }} {{
    wtf.form_field(form_therapist.evidence_add_a) }} {{
    wtf.form_field(form_therapist.comment_add_a, class_="form-control
    comment_field", data_target="label_a_therapist_add") }}
  </div>
  <p></p>

  <!-- Summary comment -->
  <div style="text-align: center">
    {{ wtf.form_field(form_therapist.comment_summary) }}
  </div>
  <p></p>

  <!-- Submit -->
  <p>
    <input type="submit" name="submit_form_therapist" value="Submit" />
  </p>
</form>
