<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Annotations Interface</title>
    {% endif %}
  </head>
  <body>
    <div>
      Annotations Interface:
      <a href="{{ url_for('main.index') }}">Home</a>
      <a href="{{ url_for('upload.upload_sm') }}">Upload SM Dataset</a>
      <a href="{{ url_for('upload.upload_psychotherapy') }}"
        >Upload Psychotherapy Dataset</a
      >
      <!-- the user is only anonymous when the user is not logged in -->
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('auth.login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr />
    <!-- `get_flashed_messages()` comes from Flask and returns a list of all the -->
    <!-- messages that have been registered with `flash()` previously -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
