{% extends "base.html" %} {% block app_content %}
<div class="container">
  <h1 class="mt-4">Hi, {{ current_user.username }}</h1>
  <p class="lead">These are the datasets you can annotate:</p>
  {% if datasets %}
  <div class="row">
    {% for dataset in datasets %}
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          {% if dataset.type.value == "Psychotherapy Session" %}
          <h2 class="card-title">
            <a
              href="{{ url_for('annotate.annotate_ps', dataset_id=dataset.id) }}"
              >{{ dataset.name }}</a
            >
          </h2>
          {% elif dataset.type.value == "Social Media Thread" %}
          <h2 class="card-title">
            <a
              href="{{ url_for('annotate.annotate_sm', dataset_id=dataset.id) }}"
              >{{ dataset.name }}</a
            >
          </h2>
          {% endif %}
          <p class="card-text">
            <strong>Type:</strong> {{ dataset.type.value }}
          </p>
          <p class="card-text">
            <strong>Description:</strong> {{ dataset.description }}
          </p>
          <p class="card-text">
            <strong>Created:</strong> {{ dataset.timestamp.strftime("%d-%B-%Y
            %H:%M:%S") }} UTC
          </p>
          <p class="card-text">
            <strong>Author:</strong> {{ dataset.author.username }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No datasets have been assigned to you yet.</p>
  {% endif %}
</div>
{% endblock %}
